@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-quiz, .quiz {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2b9dd;
}

.start-btn {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.question-container {
    margin: 20px 10px;
    width: 80%;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.question {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
}

.answers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quiz-btn {
    width: 80px;
    padding: 0 10px;
    min-height: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 15px;
    border: none;

}

.divider {
    border-bottom: 1px solid black ;
}

.check-btn {
    width: 120px;
    height: 35px;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}